body {
  width: auto;
  background-color: #e9eaea; /* Couleur bleue */
  margin: 0; /* Supprimer la marge par défaut du body */
  padding-left: 40px;
  padding-right: 40px;
  overflow-x: hidden;
}

.container {
  background-color: #FFFFFF; /* Couleur bleue */
  border-radius: 20px;
  padding-left: 20px; /* Réduire la marge interne pour éviter l'espace vide à droite */
  padding-right: 20px; /* Réduire la marge interne pour éviter l'espace vide à droite */
  padding-bottom: 10px;
  margin: 20px;
}
.centered {
  display: flex;
  justify-content: center;
  margin: auto;
}

label{
  display: flex;
  justify-content: center;
  margin: auto;
}

#recherche{
  margin-top: 20dx;
}

.grandeDiv{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  //justify-content: space-evenly;
}
img {
  max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
  height: auto;
  justify-content: center;
  margin-left: 10%;
}
