<!DOCTYPE html>
<html>
<body>
<br>

<div class="grandeDiv">
  <div class="container" style="background-color: #FFFFFF;">
    <div>
      <br>
      <h4>Station les plus contrôlé aujourd'hui :</h4>
      <hr>
      <table class="table align-middle" >
        <thead class="bg-light">
        <tr>
          <th>Ligne</th>
          <th>Nom</th>
          <th>Nombre de sorties</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let station of (stationTouday$ | async)">
          <td>
            <div class="d-flex align-items-center">
              <img
                [id]="'imageElement_' + station.numero_ligne"
                [src]="changerPhoto(station.numero_ligne)"

                alt="Description de l'image"
                style="width: 45px; height: 45px"
                class="rounded-circle"
              >
            </div>
          </td>
          <td>
            <div class="ms-3">
              <p class="fw-bold mb-1">{{station.nom}}</p>
            </div>
          </td>
          <td>
            <div class="ms-3">
              <p class="fw-bold mb-1">{{station.nbr_sortie}}</p>
            </div>
          </td>
        </tr>
        <tr >
          <td colspan ="3">
            <div class="ms-3">
              <p class="fw-bold mb-1">{{msgStationDay}}</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>


    <div class="container" style="background-color: #FFFFFF;">
      <div>
        <br>
        <h4>Station les plus contrôlé ce mois ci :</h4>
        <hr>
        <table class="table align-middle" >
          <thead class="bg-light">
          <tr>
            <th>Ligne</th>
            <th>Nom</th>
            <th>Nombre de sorties</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let station of (stationMonth$ | async)">
            <td>
              <div class="d-flex align-items-center">
                <img
                  [id]="'imageElement_' + station.numero_ligne"
                  [src]="changerPhoto(station.numero_ligne)"
                  alt="Description de l'image"
                  style="width: 45px; height: 45px"
                  class="rounded-circle"
                >
              </div>
            </td>
            <td>
              <div class="ms-3">
                <p class="fw-bold mb-1">{{station.nom}}</p>
              </div>
            </td>
            <td>
              <div class="ms-3">
                <p class="fw-bold mb-1">{{station.nbr_sortie}}</p>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan ="3">
              <div class="ms-3">
                <p class="fw-bold mb-1">{{msgStationMonth}}</p>
              </div>
            </td>
          </tr>
        </table>

      </div>
    </div>
    <br>
  </div>


<div class="container" style="padding: 0px;width:fit-content;">
  <div class="container" style="background-color: #FFFFFF; " *ngIf="stationMonth$; ">
    <div>
      <br>
      <h3>Les lignes controlées ce mois ci :</h3>
      <hr>
      <table >
        <td *ngFor="let ligne of (LigneMonth$ | async)">
          <div class="d-flex align-items-center " style="display: flex;">
            <img
                    [id]="'imageElement_' + ligne"
                    [src]="changerPhoto(ligne)"
                    alt="Description de l'image"
                    style="width: 45px; height: 45px; margin: 10px"
                    class="rounded-circle"
            >
          </div>
        </td>
        <tr>
          <td colspan ="3" >
            <div class="ms-3">
              <p class="fw-bold mb-1">{{msgStationMonth}}</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<br>
</body>




