<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <img src="../../assets/images/logo.svg" >
      <a class="navbar-brand mt-2 mt-lg-0" href="">
        <span class="text">SauveTonNavigo</span>
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="declarer">Déclarer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Statistique</a>
        </li>
        <li class="nav-item" *ngIf="authService.isAdmin">
          <a class="nav-link" href="utilisateur">Utilisateurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="rechercher"><img src="../../assets/images/search.svg" style="height: 20px; width: 30px; margin-top: -20px" ></a>
        </li>

      </ul>
      <ul  class="navbar-nav  mb-2 mb-lg-0">
        <a class="navbar-brand mt-2 mt-lg-0" *ngIf="authService.isAdmin"  >
          <span class="text" style="color: #ef6288;">Mode Admin</span>
        </a>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Déconnexion</a>
        </li>

      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
