<!DOCTYPE html>
<html>
<head>
  <style>

  </style>
</head>
<body>
<br>
<div class="container">
  <!-- Content here -->
  <br>
  <img
    [id]="'imageElement_' + selectedLigne"
    [src]="changerPhoto(selectedLigne)"
    alt="Description de l'image"
    style="width: 45px; height: 45px"
    class="rounded-circle"
  >
  <label style="margin-left: 20px">{{selectedStationName}}</label>
  <hr>
  <div>
    <!-- Form -->
    <form class="grandeDiv">
      <div class="petiteDiv">
        <label>SORTIE {{NumeroSortie}}</label>
        <br>
        <br>
        <label><U>Nombre de controleurs </U>: {{selectedNbrControlleur}} </label>
        <br>
        <br>
        <label><U>Humeur des contrôleurs </U>: {{selectedHumeur}}</label>
        <br>
      </div>
      <div class="petiteDiv">
        <label><U>Date </U>: {{currentDate}}</label>
        <br>
        <br>
        <label><U>Heure </U>: {{currentTime}}</label>
        <br>
        <br>
        <label><U>Commentaire </U>: {{selectedCom}}</label>
        <br>
        <br>
      </div>
    </form>
  </div>
</div>
<br>
</body>
</html>

