h2 {
  padding: 10px;
  font-size: medium;
  border-radius: 4px;
  margin-bottom: 15px;
}

h2.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

h2.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

/* popup.component.scss */

:host {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.popup-container {
  width: 350px;
  /* Ajoutez d'autres styles selon vos besoins */
}

