.container {
  background-color: #FFFFFF; /* Couleur bleue */
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  margin: 20px;
}

body {
  width: auto;
  block-size: fit-content;
  background-color: #e9eaea; /* Couleur bleue */
  padding-left: 40px;
  padding-right: 40px;
}
.centered {
  display: flex;
  justify-content: flex-start;
  margin: auto;
}

 label{
  display: flex;
  justify-content: center;
  margin: auto;
}

.grandeDiv{
  width: 80%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
}
.grandeDiv2{
  width: 60%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
}
