<!DOCTYPE html>
<html>
<head>
  <style>

  </style>
</head>
<body>
<br>
<div class="container">
  <br>
  <h3>Rechercher</h3>
  <hr>
  <form class="grandeDiv">

      <!-- Ligne input -->
      <label>Ligne</label>
      <br>
      <div class="btn-group centered">
        <input type="radio" class="btn-check" name="lignes" id="ligne1" autocomplete="off" checked/>
        <label class="btn btn-secondary" for="ligne1">1</label>

        <input type="radio" class="btn-check" name="lignes" id="ligne2" autocomplete="off"/>
        <label class="btn btn-secondary" for="ligne2">2</label>

        <input type="radio" class="btn-check" name="lignes" id="ligne3" autocomplete="off"/>
        <label class="btn btn-secondary" for="ligne3">3</label>

        <input type="radio" class="btn-check" name="lignes" id="ligne4" autocomplete="off"/>
        <label class="btn btn-secondary" for="ligne4">4</label>

        <input type="radio" class="btn-check" name="lignes" id="ligne5" autocomplete="off"/>
        <label class="btn btn-secondary" for="ligne5">5</label>
      </div>
      <br>
      <br>
      <!-- Station input -->
    <label for="station">Station</label>
      <div class="form-group col-md-4 centered">

        <select id="station" class="form-control">
          <option selected>...</option>
          <option>...</option>
        </select>
      </div>
    <label>Date</label>
    <div class="form-group centered">
      <input type="date" id="date" class="form-control" style="width: 200px"/>
    </div>
    <br>
  </form>
  <br>
  <!-- Button recherche  -->
  <div class="form-group centered">
    <button type="submit" class="btn btn-primary btn-block mb-4 centered" id="recherche" style="width: 80px">OK
    </button>
  </div>
  <br>
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
    <tr>
      <th>Ligne</th>
      <th>Contrôleur</th>
      <th>Humeur</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
            src="app/rechercher/ligne1.svg"
            alt=""
            style="width: 45px; height: 45px"
            class="rounded-circle"
          />
          <div class="ms-3">
            <p class="fw-bold mb-1">Chatelet</p>
            <p class="text-muted mb-0">Sortie 1</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">2 controleurs</p>
      </td>
      <td>
        <p class="fw-normal mb-1">Pas cool</p>
      </td>
      <td><div class="ms-3">
        <p class="fw-bold mb-1">20/01/2023</p>
        <p class="text-muted mb-0">10:10</p>
      </div></td>
      <td>
        <button type="button" class="btn btn-outline-secondary btn-rounded">
          Edit
        </button>
        <button type="button" class="btn btn-outline-danger btn-rounded">
          Supr
        </button>
      </td>
    </tr>
  </table>
</div>
<br>
</body>
