<!DOCTYPE html>
<html>
<head>
</head>
<body>
<br>
<div class="grandeDiv">
  <div class="container" style="background-color: #FFFFFF;">
    <div>
      <br>
      <div style="display: flex;">
      <h2 style = "margin-right: 280px">Contrôle en cours</h2>
      <button  type="submit" class="btn btn-primary btn-block mb-4 " id="declarer" (click)="pageClick()" style="width: 120px">+ Ajoutez
      </button>
      </div>
        <hr>
      <table class="table align-middle table-hover" >
        <thead class="bg-light">
        <tr>
          <th>Ligne</th>
          <th>Date </th>
          <th *ngIf="authService.isAdmin" >Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let signalement of (signalement$ | async)" >
          <td (click)="navigateToDetail(signalement.id)">
            <div class="d-flex align-items-center">
              <img
                [id]="'imageElement_' + signalement.station.numero_ligne"
                [src]="changerPhoto(signalement.station.numero_ligne)"
                alt="Description de l'image"
                style="width: 45px; height: 45px"
                class="rounded-circle"
              >
              <div class="ms-3" >
                <p class="fw-bold mb-1">{{signalement.station.nom}}</p>
                <p class="text-muted mb-0">{{signalement.position_controlleurs}}</p>
              </div>
            </div>
          </td>
          <td (click)="navigateToDetail(signalement.id)"><div class="ms-3">
            <p class="fw-bold mb-1">{{signalement.date}}</p>
            <p class="text-muted mb-0">{{signalement.heure}}</p>
          </div></td>
          <td *ngIf="authService.isAdmin">
            <button style="margin-right: 10px" type="button"  class="btn btn-outline-secondary btn-rounded " (click)="onButtonEditClick(signalement.id ? toNumber(signalement.id) : 0)" >
              Edit
            </button>
            <button type="button" class="btn btn-outline-danger btn-rounded " (click)="onButtonDeleteClick(signalement.id ? toNumber(signalement.id) : 0)">
              X
            </button>
          </td>
        </tr>
      </table><br>

    </div>
  </div>
  <div class="container" style="margin: 0px">
    <img style="margin-top: 230px" src="../../assets/images/navigo.png " alt="Description de l'image">
  </div>
</div>


<br>
</body>


