<!DOCTYPE html>
<html>
<head>
  <style>

  </style>
</head>
<body>
<br>
<div class="container">
  <!-- Content here -->
  <br>
  <h2>Déclarer un controle</h2>
  <hr>
  <div>
    <!-- Form -->
    <form class="grandeDiv">
      <div class="petiteDiv">
        <!-- Ligne input -->
        <label>Ligne</label>
        <br>
        <div class="btn-group">
          <ng-container *ngFor="let numeroLigne of lignesArray">
            <input
              type="radio"
              class="btn-check"
              name="lignes"
              [id]="'ligne' + numeroLigne"
              autocomplete="off"
              (change)="onButtonFiendStationClick(numeroLigne)"
            />
            <label class="btn btn-light" [for]="'ligne' + numeroLigne">
              <img
                [src]="changerPhoto(numeroLigne)"
                [alt]="'Image ' + numeroLigne"
                style="width: 18px; height: 18px; margin: -5px;"
              >
            </label>
          </ng-container>
        </div>
        <br>
        <br>
        <!-- Station input -->
        <div class="form-group col-md-4">
          <label for="station">Station</label>
          <select id="station" class="form-control" [(ngModel)]="selectedStationName"
                  [ngModelOptions]="{standalone: true}"  (change)="findNbrSortie()">
            <option *ngFor="let station of station$ | async" [value]="station.nom" >{{ station.nom }}</option>
          </select>

        </div>
        <br>
        <!-- Sortie input -->
        <div class="form-group col-md-4">
          <label for="sortie">Sortie</label>
          <select id="sortie" class="form-control" [(ngModel)]="NumeroSortie" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let number of numbersArray" [value]="number">{{ number }}</option>
          </select>
        </div>
        <br>
        <!-- Nb controleur input -->
        <div class="form-group">
          <label>Nombre de controleurs</label>
          <input type="number" id="nbControleur" class="form-control" min="1" style="width: 100px" [(ngModel)]="selectedNbrControlleur" [ngModelOptions]="{standalone: true}" placeholder="3"/>
        </div>
        <br>
        <!-- Humeur input -->
        <div class="form-group col-md-4">
          <label for="humeur">Humeur des contrôleurs</label>
          <select id="humeur" class="form-control" [(ngModel)]="selectedHumeur" [ngModelOptions]="{standalone: true}" placeholder="Mechant">
            <option>Mechant</option>
            <option>Gentil</option>
            <option>Neutre</option>
          </select>
        </div>
        <br>
      </div>
      <div class="petiteDiv">
        <!-- Date input -->
        <div class="form-group">
          <label>Date</label>
          <input type="date" id="date" [(ngModel)]="currentDate" [ngModelOptions]="{standalone: true}"
                 class="form-control" style="width: 200px"/>
        </div>
        <br>

        <!-- Time input -->


        <div class="form-group">
          <label>Heure</label>
          <input type="time" id="time" class="form-control" style="width: 200px" [(ngModel)]="currentTime" [ngModelOptions]="{standalone: true}"/>
        </div>
        <br>

        <!-- Commentaire input -->
        <div class="form-group">
          <label for="commentaire">Ajoute un commentaire</label>
          <textarea class="form-control" id="commentaire" rows="3"  [(ngModel)]="selectedCom" [ngModelOptions]="{standalone: true}"></textarea>

        </div>
        <br>

      </div>
      <!-- Button ajoutez -->
    </form>
    <button type="submit" class="btn btn-secondary centered" id="add" style="width: 100px" (click)="envoyerSignalement()">Ajouter
    </button>
    <br>
    <!-- From -->
  </div>
</div>
<br>
</body>
</html>
