<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <br />
    <div class="container">
      <br />
      <h3>Utilisateur</h3>
      <hr />
      <!-- Button recherche  -->
      <div class="form-group centered">
        <button
          type="submit"
          class="btn btn-primary btn-block mb-4 centered"
          id="addUser"
          style="width: 60px"
        >
          +
        </button>
      </div>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Ajouter un nouvel utilisateur </mat-panel-title>
        </mat-expansion-panel-header>

        <form action="">
          <div class="form">
            <div>
              <label>Nom</label>
              <input
                type="text"
                id="nom"
                name="nom"
                class="form-control"
                style="width: 100px"
                [(ngModel)]="newUser.firstName"
              />
            </div>
            <div>
              <label>Prénom</label>
              <input
                type="text"
                id="prenom"
                name="prenom"
                class="form-control"
                style="width: 100px"
                [(ngModel)]="newUser.lastName"
              />
            </div>
            <div>
              <label>Email</label>
              <input
                type="text"
                id="email"
                name="email"
                class="form-control"
                style="width: 100px"
                [(ngModel)]="newUser.email"
              />
            </div>
            <div>
              <label>Droits d'accès</label>
              <input
                type="checkbox"
                id="droits"
                name="droits"
                [(ngModel)]="newUser.admin"
              />
            </div>

            <button
              type="button"
              class="btn btn-success btn-rounded btn-sm btnAjout"
              (click)="onAddUser()"
            >
              Ajouter
            </button>
          </div>
        </form>
      </mat-expansion-panel>

      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Droits d'accès</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users$ | async">
            <td>
              <input
                type="text"
                id="id"
                name="id"
                class="form-control"
                style="width: 100px"
                [value]="user.id"
                disabled
              />
            </td>
            <td>
              <input
                type="text"
                id="nom"
                name="nom"
                class="form-control"
                style="width: 100px"
                [value]="user.lastName"
                [disabled]="!isEditing"
              />
            </td>
            <td>
              <input
                type="text"
                id="prenom"
                name="prenom"
                class="form-control"
                style="width: 100px"
                [value]="user.firstName"
                [disabled]="!isEditing"
              />
            </td>
            <td>
              <input
                type="text"
                id="email"
                name="email"
                class="form-control"
                style="width: 300px"
                [value]="user.email"
                [disabled]="!isEditing"
              />
            </td>
            <td>
              <input
                type="text"
                id="droits"
                name="droits"
                class="form-control"
                style="width: 100px"
                [value]="user.admin"
                [disabled]="!isEditing"
              />
            </td>
            <td>
              <button
                type="button"
                class="btn btn-outline-secondary btn-rounded"
                (click)="isEditing = !isEditing"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn btn-outline-danger btn-rounded"
                (click)="onButtonDeleteClick(user.id ? user.id : 0)"
              >
                Supr
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary btn-rounded"
                (click)="onUpdateUser(user.id ? user.id : 0, user)"
              >
                Update
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
  </body>
</html>
