@import "~@fortawesome/fontawesome-free/css/all.css";

.container {
  background-color: #ffffff; /* Couleur bleue */
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  margin: 20px;
}
body {
  background-color: #e9eaea; /* Couleur bleue */
  padding-left: 40px;
  padding-right: 40px;
}

#recherche {
  margin-top: 20dx;
}

.grandeDiv {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  //justify-content: space-evenly;
}

.form {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.btnAjout {
  height: 3.5vh;
}

.firstColumnTable {
  display: flex;
  width: 300px;
  justify-content: space-around;
}
